
@{
    ViewData["Title"] = "За нас";
}

    <div class="text-center mt-3">
        <h1>ФК Струмска слава (Радомир)</h1>
    </div>

    <div class="text-xl-left mt-3">
        <p>Струмска слава е български футболен клуб от град Радомир, който участва във Втора професионална футболна лига.</p>
        <p>Основан е през 1927 г. От 1950 до 1969 г. се нарича „Червено знаме“. Играе домакинските си мачове на Градския стадион в Радомир с капацитет 5000 места.</p>
    </div>
    

