@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

    <form class="form border-primary-4 rounded p-3 w-25 mx-auto mt-3" asp-action="/Identity/Account/Register">
        <img class="mb-4" src="~/Images/StrumskaSlava.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
        <label for="FirstName" class="sr-only">First Name</label>
        <input type="text" id="firstName" class="form-control" placeholder="Име" required autofocus>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
        <label for="LastName" class="sr-only">Last Name</label>
        <input type="text" id="lastName" class="form-control" placeholder="Фамилия" required autofocus>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
        <label for="Username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Потребителско име" required autofocus>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
        <label for="Email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Имейл" required autofocus>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
        <label for="Password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Парола" required>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
        <label for="ConfirmPassword" class="sr-only">ConfirmPassword</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Потвърди парола" required>
        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@


        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Регистрация</button>
    </form>