@model StrumskaSlava.Web.BindingModels.MatchSchedule.Create.MatchScheduleCreateBindingModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Създаване на График";
}

<h1 class="text-dark font-weight-bold text-center p-3 w-60 mx-auto rounded mt-3">Създаване на График за провеждане на футболните срещи.</h1>

<form class="form border-primary-5 rounded p-3 w-60 mx-auto mt-auto" method="post" asp-action="/Administration/MatchSchedule/Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <hr class="w-95" />
    <div id="title-and-content-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="HomeTeam" class="text-primary">Домакин</label>
            </div>
            <input asp-for="HomeTeam" type="text" id="homeTeam" class="form-control" placeholder="Домакин" required autofocus>
            <span asp-validation-for="HomeTeam" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="GuestTeam" class="text-primary">Гост</label>
            </div>
            <input asp-for="GuestTeam" type="text" id="guestTeam" class="form-control" placeholder="Гост" required autofocus>
            <span asp-validation-for="GuestTeam" class="text-danger"></span>
        </div>
    </div>
    <div id="date-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="MatchDate" class="text-primary">Дата</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="matchDate"
                   placeholder="Дата"
                   asp-for="MatchDate">
            <span asp-validation-for="MatchDate" class="text-danger"></span>
        </div>
    </div>
    <hr class="w-95" />
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-lg btn-primary btn-block mt-3 w-45" type="submit">Създаване</button>
    </div>
</form>

<script>
    window.onload = () => {
        $('#matchDate').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
