@using StrumskaSlava.Web.ViewModels.FootballPlayer.Create
@model StrumskaSlava.Web.BindingModels.FootballPlayer.Create.FootballPlayerCreateBindingModel

@{
    ViewData["Title"] = "Създай Футболен Играч";
}

<h1 class="text-dark font-weight-bold text-center p-3 w-60 mx-auto rounded mt-3">Създай Футболен Играч</h1>

<form class="form border-primary-5 rounded p-3 w-60 mx-auto mt-auto" asp-action="/Administration/Player/Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <hr class="w-95" />
    <div id="title-and-content-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="text-primary">Име</label>
            </div>
            <input asp-for="Name" type="text" id="name" class="form-control" placeholder="Име" required autofocus>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Picture" class="text-primary">Снимка</label>
            </div>
            <input type="file"
                   class="form-control-file text-primary text-center"
                   id="picture"
                   placeholder="Снимка..."
                   asp-for="Picture">
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Country" class="text-primary">Държава</label>
            </div>
            <input asp-for="Country" type="text" id="country" class="form-control" placeholder="Държава" required autofocus>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Age" class="text-primary">Години</label>
            </div>
            <input type="number"
                   step="1"
                   class="form-control text-primary text-center"
                   id="age"
                   placeholder="Години"
                   min="15"
                   asp-for="Age">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Height" class="text-primary">Височина</label>
            </div>
            <input asp-for="Height"
                   step="0.01"
                   type="number" 
                   id="height" 
                   class="form-control" 
                   placeholder="Височина"
                   min="1.50">
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="PlayerNumber" class="text-primary">Номер</label>
            </div>
            <input type="number"
                   step="1"
                   class="form-control text-primary text-center"
                   id="playerNumber"
                   placeholder="Номер"
                   min="1"
                   asp-for="PlayerNumber">
            <span asp-validation-for="PlayerNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mx-auto w-45">
        <hr class="w-95" />
        <div class="d-flex justify-content-center">
            <label asp-for="PlayerPosition" class="text-primary">Позиция</label>
        </div>
        <select class="form-control text-primary" id="position" asp-for="PlayerPosition">
            <option selected disabled>--- Иберете позиция ---</option>
            @foreach (var position in ((IEnumerable<FootballPlayerCreatePlayerPositionViewModel>)this.ViewData["positions"]))
            {
                <option value="@position.Name">@position.Name</option>
            }
        </select>
        <span asp-validation-for="PlayerPosition" class="text-danger"></span>
    </div>


    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-lg btn-primary btn-block mt-3 w-45" type="submit">Създай</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
